services:
  postgres:
    container_name: postgres-livro-virtual
    image: postgres:17.5-alpine3.22
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lojavirtual
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: